body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(184, 184, 184);
  color: white;
}

.slider {
  width: 100%;
  position: relative;
  margin: auto;
  background-color: rgb(139, 138, 138);
  padding: 24px 0;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  /* user-select: none; */
}

.number {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #eeeeee;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
